.wrapper-header  {
    height: 0px;
    padding: 1px;
    background: #2b56b6;
    color: #fff;
    box-shadow: 0 0px 0px 0px grey;
    }
    .menu-header li  {
    display: block;
    font-size: 16px;
    margin-left: px;
    padding: 0px;
    }
    .acessar-conta {
    position: relative;
    top: 10px;
    background-color: #fff;
    border: 0;
    color: #333;
    }
    @media screen and (min-width: 100px) {
    .wrapper-header {
    height: 60vh;
    width: 225vh;
    }
    .menu-header li {
    list-style: none;
    display: inline;
    position: relative;
    margin: 10px;
    top: 30px;
    font-size: 18px;
    }
    }